body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color:;
}
.quem-somos {
    background-color: #8181f7;
    color: white;

}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    border-bottom: 1px solid #34495E;
    background: ;
}
.bg-footer{
    background-color: black;
    color: white;

}